
.card {
    background: white;
    border-radius: 5px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card h4 {
    font-weight: 500;
    font-size: 20px;
}

.card i {
    font-size: 40px;
    /*position: revert;*/
    align-self: self-end;
}